{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>ИС Химчистка</title>
</head>
<body>
    <header>
        <div class="container">
            <h1>ИС Химчистка</h1>
            <nav>
                <a href="{% url 'worktype_list' %}">Виды работ</a>
                <a href="{% url 'generate_word_report' %}">Скачать отчет (Word)</a>
                <a href="{% url 'generate_excel_report' %}">Скачать отчет (Excel)</a>
                <a href="{% url 'logout' %}">Выход</a>
            </nav>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
