<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Клиенты</h1>
    <a href="{% url 'client_create' %}">Добавить клиента</a>
    <ul>
        {% for client in clients %}
        <li>
            {{ client.first_name }} {{ client.last_name }}
            <a href="{% url 'client_update' client.pk %}">Редактировать</a>
            <a href="{% url 'client_delete' client.pk %}">Удалить</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
