<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>ИС Химчистка</h1>
        <nav>
            <a href="{% url 'client_list' %}">Клиенты</a>
            <a href="{% url 'employee_list' %}">Сотрудники</a>
            <a href="{% url 'item_list' %}">Изделия</a>
            <a href="{% url 'worktype_list' %}">Виды работ</a>
            <a href="{% url 'servicecost_list' %}">Стоимость услуг</a>
        </nav>
    </header>
    <main>
        <h2>Добро пожаловать в ИС Химчистка</h2>
        <p>Используйте навигацию, чтобы управлять данными.</p>
    </main>
</body>
</html>
